<div class="container">
    <div class="row row-cols-3" >
        <div class="col card card2 my-2" *ngFor="let data of employeeList">
            <div class="card-body">
              <img *ngIf="data.gender == 'M'" src="./assets/imgs/Men.png" alt="Image not found">
              <img *ngIf="data.gender == 'F'" src="./assets/imgs/Women.png" alt="Image not found">
              <!-- <img src="./assets/imgs/Men.png" alt=""> -->
              <h5 class="card-title">{{data.firstName}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{data.designation ? data.designation:'Not found'}}</h6>
              <div class="d-flex justify-content-between">
                  <button  class="btn btn-primary" [routerLink]="['/employee/'+ data.id]">View Details</button>
                  <button  class="btn btn-warning">Delete</button>
               </div>
            </div>
        </div>
    </div>
</div>

