<!-- {{ employee | json}} -->
<div *ngIf="employee" class="row row-cols-sm-2 g-2 mx-auto align-items-center text-center">
    <div class="col-12 mx-auto">
        <div class="">
            <img src="./assets/imgs/Men.png" *ngIf="employee.gender == 'M'"
                class="img-fluid rounded-circle shadow-lg bg-body-tertiary " alt="">
            <img src="./assets/imgs/Women.png" *ngIf="employee.gender == 'F'"
                class="img-fluid rounded-circle shadow-lg bg-body-tertiary " alt="">
        </div>
    </div>
    <div class="col-12 text-start border border-success text-center">
        <div class="h2">
            {{employee.firstName}} {{employee.lastName}}
        </div>
        <span class="fst-italic bg-info rounded px-2 shadow text-white fw-semibold">
            {{employee.designation}} Software Engineer
        </span>
        <div class="fst-italic">
            {{employee.city}}
        </div>
    </div>

</div>